<h1 mat-dialog-title>{{ data.type === 'new' ? 'Registrar nueva subcolección' : 'Editar subcolección'}}</h1>
<div mat-dialog-content>
  <div class="container">
    <div class="row">
      <div class="form-group col-md-12">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" class="form-control form-control-sm">
      </div>
    </div>

    <div class="row">
      <div class="form-grup col-md-12">
        <label for="descripcion">Descripción</label>
        <textarea class="form-control form-control-sm" id="descripcion" rows="3"></textarea>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions class="justify-content-between mt-3">
  <button class="btn rounded btn-outline-dark" (click)="onNoClick()">Cancelar</button>
  <button class="btn rounded btn-outline-dark"
          (click)="onNoClick()">{{data.type === 'new' ? 'Registrar' : 'Guardar'}}</button>
</div>
