<ul class="cb-slideshow">
  <li><span>Image 01</span>
    <div><h3>FRANZ MAYER</h3></div>
  </li>
  <li><span>Image 02</span>
    <div><h3>RUTH D. LECHUGA</h3></div>
  </li>
  <li><span>Image 03</span>
    <div><h3>WOLFGANG PAALEN</h3></div>
  </li>
  <li><span>Image 04</span>
    <div><h3>WILLIAM SPRATLING</h3></div>
  </li>
  <li><span>Image 05</span>
    <div><h3>MARGUERITE ROSTAN</h3></div>
  </li>
  <!--<li><span>Image 06</span><div><h3>se·ren·i·ty</h3></div></li>-->
</ul>

<div class="container-fluid p-0 pt-3 block-links col-md-5" style="background: rgba(248, 244, 243, .8)">
  <h3 class="text-center">Bienvenido a Mnemosine</h3>
  <div class="col-md-12 m-0">
    <div class="row flex-column mt-3">
      <small class="text-center">(En la mitologia griega, Mnemosine es la diosa de la memoria y madre de las 9 musas)
      </small>
    </div>

    <div class="row flex-column mt-3">
      <h3 class="pl-2">Catálogo de colecciones - Museo Franz Mayer</h3>
    </div>
    <mat-list class="mt-3">
      <mat-list-item>
        <a routerLink="../consulta" class="menu-item">Modulo de consulta
          <span class="flo-block-featured-links-3__link-border"></span>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="../catalogo" class="menu-item">Modulo de cátalogo</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="../catalogo" class="menu-item">Modulo de prestamos</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="../investigacion" class="menu-item">Modulo de investigación</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="../restauracion" class="menu-item">Modulo de restauración</a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="../administracion" class="menu-item">Modulo de administración</a>
      </mat-list-item>
    </mat-list>

    <!--<div class="row">-->
    <!--<a class="col-md-2">-->
    <!--<div style="background: red; width: 100px; height: 100px;"></div>-->
    <!--</a>-->
    <!--<a class="col-md-2"></a>-->
    <!--<a class="col-md-2"></a>-->
    <!--<a class="col-md-2"></a>-->
    <!--<a class="col-md-2"></a>-->
    <!--<a class="col-md-2"></a>-->
    <!--</div>-->
  </div>


  <!--<div class="row welcome__footer mx-0 px-0">-->
  <!--<div class="col-md-2" style="background: url(/assets/images/slide-1-sm.jpg); background-repeat: no-repeat"></div>-->
  <!--<div class="col-md-2" style="background: url(/assets/images/slide-2-sm.jpg); background-repeat: no-repeat"></div>-->
  <!--<div class="col-md-2" style="background: url(/assets/images/slide-3-sm.jpg); background-repeat: no-repeat"></div>-->
  <!--<div class="col-md-2" style="background: url(/assets/images/slide-4-sm.jpg); background-repeat: no-repeat"></div>-->
  <!--<div class="col-md-2" style="background: url(/assets/images/slide-5-sm.jpg); background-repeat: no-repeat"></div>-->
  <!--<div class="col-md-2" style="background: url(/assets/images/slide-6-sm.jpg); background-repeat: no-repeat"></div>-->
  <!--</div>-->
</div>
