<div class="container">
  <div class="row flex-column">
    <h3 class="text-center">Bienvenido a Mnemosine</h3>
    <small class="text-center">(En la mitologia griega, Mnemosine es la diosa de la memoria y madre de las 9 musas)</small>
  </div>

  <div class="row flex-column mt-3">
    <h3 class="text-center">Catálogo de colecciones - Museo Franz Mayer</h3>
  </div>

  <mat-list class="mt-3">
    <mat-list-item> <a routerLink="../consulta">Modulo de consulta:</a> <span> Información general sobre piezas</span> </mat-list-item>
    <mat-list-item> <a routerLink="../catalogo">Modulo de cátalogo:</a> <span> Control de inventarios</span> </mat-list-item>
    <mat-list-item> <a routerLink="../catalogo">Modulo de prestamos:</a> <span> Control de personas, organizaciones y movimientos</span> </mat-list-item>
    <mat-list-item> <a routerLink="../investigacion">Modulo de investigación:</a> <span> Actualización de información de piezas</span> </mat-list-item>
    <mat-list-item> <a routerLink="../restauracion">Modulo de restauración:</a> <span> Control de estado de conservación de piezas</span> </mat-list-item>
    <mat-list-item> <a routerLink="../administracion">Modulo de administración:</a> <span>Reportes, control de usuarios y roles</span> </mat-list-item>
  </mat-list>

  <div class="row welcome__footer mx-0 px-0">
    <div class="col-md-2" style="background: url(/assets/images/slide-1-sm.jpg); background-repeat: no-repeat"></div>
    <div class="col-md-2" style="background: url(/assets/images/slide-2-sm.jpg); background-repeat: no-repeat"></div>
    <div class="col-md-2" style="background: url(/assets/images/slide-3-sm.jpg); background-repeat: no-repeat"></div>
    <div class="col-md-2" style="background: url(/assets/images/slide-4-sm.jpg); background-repeat: no-repeat"></div>
    <div class="col-md-2" style="background: url(/assets/images/slide-5-sm.jpg); background-repeat: no-repeat"></div>
    <div class="col-md-2" style="background: url(/assets/images/slide-6-sm.jpg); background-repeat: no-repeat"></div>
  </div>
</div>
