.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  background: #ffffff;
  color: #263544;
  //color: #455a64;
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.list-item {
  color: #b7c0cd;
  text-align: left;
  padding: 7px 10px 7px 20px;
  margin: 5px 0 0;
  border-radius: 0;
  border-left: 3px solid transparent;
}

.list-item:hover {
  //background: #E6FAFC;
  color: #ffffff;
}

//.list-item:focus {
//  background: #E6FAFC;
//  color: #000000;
//}


.side_nav {
  background: #263544;
}

.main-wrapper {
  background: #f2f7fb;
  width: 100%;;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.active-list-item {
  border-left-color: #42a5f5;
}

//.mat-list-item {
//  -webkit-tap-highlight-color: #E6FAFC;
//}

.go-home {
  cursor: pointer;
  outline: 0;
  text-decoration: none;
  color: #ffffff;
}

.brand_logo {
  width: 100%;
  max-width: 3rem;
  padding-bottom: .5rem;
  height: auto;
  cursor: pointer;
}

.nav-list-icon {
  font-size: 14px;
  padding: 4px;
  margin-right: 5px;
  border-radius: 4px;
  width: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 30px;
  text-align: center;
}
