@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face {
  font-family: Miller-Banner-Light;
  src: url(assets/fonts/Miller-Banner-Light-01.eot), url(assets/fonts/Miller-Banner-Light-01.ttf);
}
/* You can add global styles to this file, and also import other style files */

app-catalogo {
  height: 100%;
  position: relative;
}

.page-wrapper {
  padding: .6rem 1.5rem;
  -webkit-transition: all ease-in .3s;
  transition: all ease-in .3s;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 0 rgba(43,43,43,.1), 0 11px 6px -7px rgba(43,43,43,.1);
  box-shadow: 0 0 5px 0 rgba(43,43,43,.1), 0 11px 6px -7px rgba(43,43,43,.1);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.page-header.card {
  background-size: cover;
  position: relative;
  margin: 30px 35px 15px;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
}

.page-header.card h5 {
  margin-bottom: 0;
}

.card-title, h5 {
  margin: 0;
}

.card .card-header {
  background-color: transparent;
  border-bottom: none;
  padding: 20px;
  position: relative;
}

.card .card-block{
  padding: 1.25rem;
}

.card .card-header h5 {
  margin-bottom: 0;
  color: #333;
  font-size: 15px;
  font-weight: 700;
  display: inline-block;
  margin-right: 10px;
  line-height: 1.1;
  position: relative;
}

.card .card-header h5:after {
  content: "";
  background-color: #d2d2d2;
  width: 60px;
  height: 1px;
  position: absolute;
  bottom: -20px;
  left: 0;
}

.page-header.card .breadcrumb {
  background: 0 0;
  margin-bottom: 0;
  float: right;
}

.page-header.card .page-header-title i {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: middle;
  font-size: 22px;
  color: #fff;
  -webkit-box-shadow: 0 2px 12px -3px rgba(0,0,0,.5);
  box-shadow: 0 2px 12px -3px rgba(0,0,0,.5);
  margin-right: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

//.icon-alert-octagon:before {
//  content: "\e81b";
//}

.bg-c-blue {
  background: #263544;
}

.detalle__header-div {
  background: #9c0019;
}

.detalle__header-color {
  color: #ffffff;
}

.example-table-container{
  position: relative;
  max-height: 450px;
  overflow: auto;
}

table {
  width: 100%;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

.full-screen-modal .mat-dialog-container {
  max-width: none;
}
